@model UserToReturnDto
@{
    ViewData["Title"] = "Detailes";
}

<h1>Detailes Page</h1>>
<br />
<br />
<div>

    <partial name="EmployeePartialView/_DeleteDetailesPartialView"/>

<div class="my-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>
</div>
